body {font-family: Arial, Helvetica, sans-serif;}
form {
width: 60%;
margin: auto;
font-family: 'Roboto', sans-serif;
color: #ffff;
}
header{
  color: #fff;
}
header a{
  color: #fff;
  text-decoration: none;
}
.logo{
  margin: 0; 
  padding: 0;
}
.logo_menu{
  background:#25262e;
}
.logo_menu .logo img{
  width: 80%;
  margin-top: 5px;
  float: left;
}
.logo_menu h2{
  font-size: 28px;
  font-weight: bold;
}
.carrito img{
  width: 30px;
}
.logo_menu .menu a{
  padding: 0px 20px;
  display: inline-block;

}

h2{
  text-align: center;
  color: #ffff;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainerform {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-bottom: 50%;
  border-radius: 50%;
  animation: giro 3s ease-in-out infinite;
  /*entrada y salida de animacion*/
}

@keyframes giro{
  from{transform: rotate3d(0,0,0,0deg);}
  to{transform: rotate3d(0,1,0,360deg)}}
} /*giro 360 horizontal de imagen*/

.containerform {
  padding: 16px;
  background-color: rgba(0,0,0, 0.2);
}

.psw{
  float: right;
  padding-top: 16px;
}

.psw a{
  text-decoration: none;
}

